<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 부트스트랩, 공통 css적용 -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>Hello!</title>
</head>
<body>
  <!-- 기본 템플릿에 삽입할 내용 -->
  {% block content %}
  {% endblock %}
</body>
</html>